h1 {
    border: 1px solid lightgray;
    padding: 5 px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    font-weight: bold;
    color: mediumspringgreen

}